<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>SignUp page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='../static/css/indexstyle.css') }}"/>
  </head>
    <body>
        <div class="container">
            <div class="logo">
                <a href="/"><img src="../static/pictures/logo2.png" alt="LOGO"></a>
            </div>
            <div class="navbar">
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">English 
                        <img src="../static/pictures/caret-down-solid.svg" alt=">" width="15" height="15">
                    </a>
                        <ul>
                            <li><a href="#">French</a></li>
                            <li><a href="#">Spanish</a></li>
                            <li><a href="#">Arabic</a></li>
                        </ul>
                    </li>
                    <li><a href="/login" target="_blank"><button class="btn">Sign In</button></a></li>
                </ul>
            </div>
        </div>
        <div class="segment">
            <div class="wrapper">
                <div class="holder">
                    <div class="logo2">
                        <img src="../static/pictures/logo.png" alt="LOGO">
                    </div>
                    <div class="section">
                        <h1>all in one generator</h1>
                        <p >easily log into multiple accounts</p>
                    </div>
                </div> 
                <div class="text">
                    <h2>REGISTER</h2> 
                    <form action="/signup" method="POST">
                        <div class="form">
                            <p>Full Name</p>
                            <input type="name"name="fullname"placeholder="Full Name">
                            <p>Email</p>
                            <input type="email"name="email"placeholder="Email">
                            <p>Password</p>
                            <input type="password"name="password"placeholder="Enter Password"><br><br>
                        </div>
                        <div>
                            {% if error %}
                            <center>
                                <small style ="color : red">
                                    {{error}}
                                </small>
                            </center>
                            {% endif %}
                        </div>
                        <a href="#" target="_blank"><button class="button">Sign Up</button></a>
                    </form>
                    <p class="note"> Already Have An Account??
                    <a href="/login"><strong class="n2">Sign In</strong></a></p>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="bottom">
                <div class="row">
                    <div class="footer-col">
                        <div class="logo">
                            <img src="../static/pictures/logo2.png" alt="LOGO">
                        </div>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipiscing elit. Iusto deserunt
                            laboriosam saepe inventore nesciunt. Corrupti blanditis, excepturi 
                            recusandae rerum doloribus ratione quas molestiae ipsum fugiat assumenda
                            necessitatibus incidunt, fugit sunt?
                        </p>
                    </div>
                    <div class="footer-col">
                        <h3> Company</h3>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Pricing</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h3>Contact Us</h3>
                        <ul>
                            <li><a href="#">Address:Lorem ipsum dolor sit amet consecteur adipiscing elit.
                                Ab inventore numquam blanditis labore.
                            </a></li>
                            <li><a href="#">Phone: +123456789</a></li>
                            <li><a href="#">Tel: +123456789</a></li>
                            <li><a href="#">Email: sample@domain.com</a></li> 
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>