<!DOCTYPE html>     
<html>
    <head lang="en">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Task</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='../static/css/taskstyle.css') }}" />
        <link rel="stylesheet" href="{{ url_for ('static', path='../static/font-6/css/all.css') }}"/>
    </head>
    <body>
        <div class="general">
            <input type="checkbox" name="" id="check">
            <div class="sidebar">
                <label for="check" class="checkbtn">
                    <span class="fas fa-times" id="times"></span>
                    <span class="fas fa-bars" id="bars"></span>
                </label>
                <div class="logo">
                    <a href="/"><img src="../static/pictures/logo2.png" alt="LOGO"></a>
                </div>
                <ul>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/task">Task</a></li>
                    <li><a href="#">Accounts</a></li>
                    <li><a href="/settings">Settings</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
            <section class="wrapper">
                <div class="text">
                    <h1>New Task </h1> 
                    <form>
                        <div class="form">
                            <p>Select Account</p>
                            <input type="name"name=""placeholder="">
                            <p>Recovery Email</p>
                            <input type="email"name=""placeholder="">
                            <p>Number of accounts</p>
                            <input type="range" min="0" max="100" value="50">
                            <button class="button">Save</button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </body>
</html>